{% extends 'layout.html' %}
{% block body %}
<html>
    <body>
        <h1>{{course.course_title}} Course Details</h1>
        <h2>Registered Students</h2>
        <u1>
            {% for student in students %}
                {% if student.course_id == course.id %}
                    <li>
                        {{student.name}} ({{student.id}}): {{student.grade}}
                    </li>
                {% endif %}
            {% endfor %}
        </u1>
        <h3>Add a course:</h3>
        <form action = '/register_student/{{course.id}}' method="POST">
            Student Name:  <input type="text" name="student_name"><br>
            Student ID:    <input type="text" name="student_id"><br>
            Student Grade: <input type="text" name="student_grade"><br>
            <input type="submit" value="Add Student">
        </form>
        <form action = {{url_for('welcome')}}>
            <input type="submit" value="Go Back">
        </form>
    </body>
</html>
{% endblock %}