{% extends 'layout.html' %}
{% block body %}
<html>
    <body>
        <h1>Welcome!</h1>
        <u1>
            {% for course in courses %}
                <li>
                    <a href = '/register_student/{{ course.id }}'>{{ course.course_number }}: {{ course.course_title }}</a>
                </li>
            {% endfor %}
        </u1>
        <h3>Add a course:</h3>
        <form action = {{ url_for('add_course') }} method="POST">
            Course Title:  <input type="text" name="course_title"><br>
            Course Number: <input type="text" name="course_number"><br>
            Course ID:     <input type="text" name="course_ID"><br>
            <input type="submit" value="Add Course">
        </form>
    </body>
</html>
{% endblock %}